<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://localhost:3000/views/a.css">
    <title>Document</title>
    <style>
        *{
            background-color: aqua;
        }
    </style>
</head>
<body>
    <img src="download.jfif" alt="">
    <a href="b.html">dfdfd</a>
    <h1>jkdfjkdhfkjdklfd</h1>
</body>
</html>