<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="about.css">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
  />
    <link rel="stylesheet" href="web.css" />
    <link rel="stylesheet" href="codingcontest.css" />
    <link rel="stylesheet" href="footer.css">
    <link 
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />

    <title>Codding Contest</title>
  </head>
  <body>
    <section class="header" style=" background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(logodes.jpg);">
      <nav>  
        <a href=""><img src="2021-09-05 (2).png" alt="" /></a>
        <i class="fa fa-ellipsis-v" onclick="showmenu()"></i>
        <div class="navlink">
          <i class="fas fa-window-close" onclick="hidemenu()">Close</i>
          <ul> 
            <li><a href="a.css">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="coddingconstest.html">Codding Contests</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </nav>
      <div class="body">
        <div class="typewriter">
          <h1>Codding Contests</h1>
        </div>
        <p>
          Here you find coding contests of many Competitive programming Platform also prectice question for tech. interviews.

        </p>
        <div class="cell"></div>

        <div class="content">
          <div class="text"></div>
        </div>
        <!-- <a href="" class="btn">visit</a>   -->
      </div>
    </section>

    <!-- card -->
    <section class="info"></section>
    <section class="cards-wrapper">
      <div class="card-grid-space">
        <div class="num">01</div>
        <a
          class="card"
          href="https://www.codechef.com/contests/?itm_medium=navmenu&itm_campaign=allcontests"
          style="
            --bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg);
          "
        >
          <div>
            <h1>Code Chef</h1>
            <p>
              Know all about Code-chef contests like long-challenge, lunchtime,
              cookoff....
            </p>
            <div class="tags">
              <div class="tag">Code Chef</div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space">
        <div class="num">02</div>
        <a
          class="card"
          href="https://codeforces.com/contests"
          style="--bg-img: url('bb.jfif')"
        >  
          <div>
            <h1>Code forces</h1>
            <p>know all about code forces contests just click here...</p>
            <div class="tags">
              <div class="tag">Code forces</div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space">
        <div class="num">03</div>
        <a
          class="card"
          href="https://leetcode.com/problemset/all/"
          style="--bg-img: url('WW.webp')"
        > 
          <div>
            <h1>Leet Code</h1>
            <p>World leading coding Platform for tech. interview practice...</p>
            <div class="tags">
              <div class="tag">Leet Code</div>
            </div>
          </div>
        </a>
      </div>
      <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
    </section>

     <!-- footer -->
     <div class="footer-dark">
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-3 item">
              <h3>Services</h3>
              <ul>
                <li><a href="https://www.webdesign-inspiration.com/">Web design</a></li>
                <li><a href="https://www.soas.ac.uk/cedep-demos/000_P501_USD_K3736-Demo/unit1/page_12.htm">Development</a></li>
                <li><a href="https://dashboard.heroku.com/">Hosting</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3 item"> 
              <h3>About</h3>  
              <ul>
                <li><a href="web.html">Website</a></li>
                <li><a href="about.css">About Us</a></li>
                <li><a href="coddingconstest.html">Contests</a></li>
              </ul>
            </div>
            <div class="col-md-6 item text">
              <h3>Codeverse</h3>
              <p>
                 this website about coding related information also includs contestd of codeforces and codechef.
              </p>
            </div>
            <div class="col item social">
              <a href="https://www.facebook.com/tejas.tank.94064"
                ><i class="icon ion-social-facebook fa-faceboo"></i></a
              ><a href="https://twitter.com/TankTejas3"
                ><i class="icon ion-social-twitter fa-twitte"></i></a
              ><a href="https://www.linkedin.com/in/tejas-tank-122648204/"
                ><i class="icon ion-social-linkedin fa-linkedi"></i></a
              ><a href="https://www.instagram.com/tejas__tank_235/"
                ><i class="icon ion-social-instagram fa-instagra"></i
              ></a>
             </div>
      </footer>
    <script src="web.js"></script>
  </body>
</html>
