<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"> </link>
    <link rel="stylesheet" href="a.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <!-- extra -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="a.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" type="image/png" href="./eduford_img/logo.png" />
  
    
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    
  

    
    
    
    <title>Document</title>
  </head>   
<body>
  <!-- navbar -->
  <section class="header" style=" background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
  url(logodes.jpg);">
    <nav>   
      <a href=""><img src="2021-09-05 (2).png" alt="" /></a>
      <i class="fa fa-ellipsis-v" onclick="showmenu()"></i>
      <div class="navlink">
        <i class="fas fa-window-close" onclick="hidemenu()">Close</i>
        <ul>
          <li><a href="a.html">Home</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="coddingconstest.html">Codding Contests</a></li> 
          <li><a href="game.html">Play Game</a></li>
          <li><a href="contact.html">Contact</a></li>  
          <li><a href="login.html">Login </a></li>
        </ul> 
      </div>
    </nav>
    <div class="body">
      <div class="typewriter">
        <h1>Welcome to gaming world</h1>
      </div>  
 
      <div class="cell">here you can play games, through you can improve your imagination power</div>

      <div class="content">
        <div class="text"></div>
      </div>
    </div>
  </section>

<!-- game -->
<div class="instruction">      
    
  <div class="heading"> <p> &#9658; <span> &nbsp; instruction &nbsp;</span></p></div>
  <br>
  <div class="par">1). play game by clicking start button</div>
  <div class="par">2). in this you have on click any one box which is differ from other.</div>
  <div class="par">3). your point will count as a score.</div>
  <div class="par">4). if you click on another box then game will over.</div>
</div>           
<div class="button">  
  <button onclick="funforrun()">Start Game</button>
</div>       
  <div class="score-container">
      score: <b id="score"> </b>  
  </div>      
  <div class="abc color-spotter-container flex column">
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>             
  <script type="text/javascript" src="app.js"> </script>  
  <script src="web.js"></script>  
</body>
</html> 